<% if model.errors.present? %>
  <div>
    <h2><%= pluralize(model.errors.count, 'error') %> detected:</h2>

    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
