<h1><%= t('.header') %></h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Quantity of questions</th>
    <th>Actions</th>
  </tr>
  <%= render @tests %>
</table>

