<h1>All Tests</h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Quantity of questions</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @tests %>
</table>
<br>
<br>
<a><%= link_to 'Create test', new_test_path %></a>
