<h1>Test</h1>
<h2>Title: <%= @test.title %></h2>

<table border="1">
  <tr>
    <td>Question</td>
    <td>Action</td>
  </tr>
  <%= render @questions %>
</table>

<br>
<br>
<%= link_to 'add question', new_test_question_path(@test) %>

<br>
<br>

<%= link_to 'back', tests_path %>
