<br>
<br>
<br>
<hr align="left" width="600" size="4" color="#ff9900" />
<br>
<p>
  <%= current_year %> | Andrei K. |
  <a href="<%= github_url('the-action-man', 'tn-test-guru') %>" target="_blank">TestGuru</a>
</p>
<p>It is awesome application to create your own tests</p>
<p>Учебный проект в онлайн-школе <a href="http://thinknetica.com/" target="_blank">Thinknetica</a></p>
